<table>
<tr>
<td style="width: 20px; margin-right: 20px;"><strong>{{code}}</strong></td>
<td class="markdown">{{{message}}}</td>
</tr>
</table>
<div class="samples">
  <span class="model-signature"></span>
</div>

